{% extends 'core/base.html' %}

{% block title %}Add Deceased Citizen{% endblock %}

{% block content %}
    <h2 class="text-2xl font-bold text-gray-700 mb-4">Add a Deceased Citizen</h2>

    <!-- Form Container -->
    <div class="bg-white shadow-md rounded-lg p-8">
        <form method="post" action="{% url 'add_deceased_citizen' %}" class="max-w-2xl">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <!-- Loop through the form fields and display them with labels -->
            {% for field in form %}
                <div class="mb-4">
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">{{ field.label }}</label>
                    {{ field }}  
                    {{ field.errors }}  
                </div>
            {% endfor %}
            
            <button type="submit" class="mt-4 bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-700">
                Add Deceased Citizen
            </button>
        </form>        
    </div>
    
    <!-- JavaScript for Filtering Citizens -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const citizens = JSON.parse('{{ citizens|escapejs }}');  
            const nationalIdInput = document.querySelector('input[name="national_id"]');
            const fullNameInput = document.querySelector('input[name="full_name"]');
            const dateOfBirthInput = document.querySelector('input[name="date_of_birth"]');
            const genderInput = document.querySelector('select[name="gender"]'); 

            const handleInputEvent = (event) => {
                const inputId = event.target.value.trim(); 
                const foundCitizen = citizens.find(citizen => citizen.fields.national_id === inputId); 
                

                if (foundCitizen) {
                    fullNameInput.value = foundCitizen.fields.full_name;
                    dateOfBirthInput.value = foundCitizen.fields.date_of_birth;
                    genderInput.value = foundCitizen.fields.gender;
                } else {
                    fullNameInput.value = '';
                    dateOfBirthInput.value = '';
                    genderInput.value = '';
                }
            };

            nationalIdInput.addEventListener('input', handleInputEvent);
        });        
    </script>
{% endblock %}
